h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat-Bold';
}

h2{

  font-size: 3rem;
  line-height: 1.5;
}

h3{
  
}

p{
  color: #8f8f8f;
  font-family: 'Montserrat-Bold';
}

body{
  font-family: 'Montserrat';
}

.biggest-heading{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15% 7%;
}

.image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  width: 25%;
  right: 20%;
}

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  margin: 0 18px 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-Light'
}

.download-btn{
  margin: 5% 3% 5% 0;
}

.feature-box{
  text-align: center;
}

.icon{
  color: #ef8172;
  padding-bottom: 15px;
}

.icon:hover{
  color: #ff4c68;
}



.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

.pricing-column {
  padding: 3% 2%;
}



.cta-heading{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}

.social-icon{
  margin: 20px 10px;
}





#title{
  background-color: #ff4c68;
  color: #fff;
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

#pricing{
  padding: 100px;
  text-align: center;
}

#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

#footer{
  background-color: #fff;
  text-align: center;
  padding: 100px 0;
}



@media (max-width: 1028px) {

  #title{
    text-align: center;
  }

  .image{
    position: static;
    transform: rotate(0);
    width: 60%;
  }


}
